RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?cinemanoiff.com [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

ErrorDocument 404 404.html

RewriteRule .*\.(jpg|jpeg|png|gif)$ /alerta/alert.jpg [L]

<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
